*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: hsl(218, 28%, 13%);
  --color-email-bg: hsl(217, 28%, 15%);
  --color-footer-bg: hsl(216, 53%, 9%);
  --color-testimonials-bg: hsl(219, 30%, 18%);

  --color-cyan: hsl(176, 68%, 64%);
  --color-blue: hsl(198, 60%, 50%);
  --color-red: hsl(0, 100%, 63%);
  --color-white: hsl(0, 0%, 100%);
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background: var(--color-bg);
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
header {
  font-family: "Raleway", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header {
  background-color: var(--color-email-bg);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5em;
}

img {
  width: 100%;
}

.logo-wrapper {
  width: 12em;
}

.header-nav-list {
  width: 18em;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: end;
}

.header-nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
}
