*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: hsl(218, 28%, 13%);
  --color-email-bg: hsl(217, 28%, 15%);
  --color-intro-bg: hsl(217, 28%, 15%);
  --color-footer-bg: hsl(216, 53%, 9%);
  --color-testimonials-bg: hsl(219, 30%, 18%);

  --color-cyan: hsl(176, 68%, 64%);
  --color-blue: hsl(198, 60%, 50%);
  --color-red: hsl(0, 100%, 63%);
  --color-white: hsl(0, 0%, 100%);
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
header {
  font-family: "Raleway", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header,
.hero {
  background-color: var(--color-intro-bg);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5em;
}

img {
  width: 100%;
}

button {
  background: none;
  color: inherit;
  outline: transparent;
  border: transparent;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.logo-wrapper {
  width: 12em;
}

.header-nav-list {
  width: 18em;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: end;
}

.header-nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.hero {
  padding: 0 20vw;
  text-align: center;
  background: var(--color-intro-bg) url(./images/bg-curvy-desktop.svg) no-repeat
    bottom center;
}

.hero-container {
  width: 84%;
  margin: 0 auto;
}

.hero-title {
  margin-top: 0.8em;
  font-size: 2.7rem;
}

.hero-subtitle {
  padding: 1.8em 2.5em;
  font-size: 1.35rem;
}

.hero-cta {
  position: relative;
  margin-bottom: 13em;
  background-color: var(--color-cyan);
  background-image: linear-gradient(
    to right,
    var(--color-cyan),
    var(--color-blue)
  );
  padding: 1em 5.5em;
  border-radius: 5em;
  font-size: 1.1rem;
  z-index: 1;
}

.hero-cta::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
  background: var(--color-cyan);
  border-radius: 5em;
  transition: all 0.2s ease-in-out;
}

.hero-cta:hover::before {
  opacity: 1;
}

.features {
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 7.5em;
  margin-bottom: 10em;
}

.feature-image-wrapper {
  width: 6em;
  height: 6em;
  margin: 0 auto;
}

.feature-image-wrapper img {
  width: unset;
}

.feature-title {
  font-size: 1.3rem;
  margin: 1em 0 0.5em;
}
